body,html{
 margin:0;
 padding:0;
}
.container{
    padding: 0 2rem;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding:0;
    font-size: 2em;
}
li{
    margin:0;
    padding: .5rem 3rem;
    transition: background-color 1s ease-in-out;
    cursor:pointer;
}
li:hover{
    background-color:rgba(230, 212, 161, 0.7);
    color:rgb(118, 175, 114);
}
.tab.active{
    background-color:rgba(230, 212, 161, 0.7);
    color:rgb(118, 175, 114);
}
.jakala{
    display:none;
}
.jakala.active{
    display:block;
}
.title{
    text-align: center;
}

